<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812299628522-1ih26ecfj9agqo0q6dpldsdl0d1n6gb4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812299628522-1ih26ecfj9agqo0q6dpldsdl0d1n6gb4</string>
	<key>API_KEY</key>
	<string>AIzaSyDeZwWHOpkZbiKE3UBWAJ31Nb0q--hQea0</string>
	<key>GCM_SENDER_ID</key>
	<string>812299628522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edson.ejemplo2023i</string>
	<key>PROJECT_ID</key>
	<string>ejemplo2023i-af81b</string>
	<key>STORAGE_BUCKET</key>
	<string>ejemplo2023i-af81b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812299628522:ios:671d0ecca80db7aa6b8c93</string>
</dict>
</plist>